<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbApiUserMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbApiUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="wechat_num" jdbcType="VARCHAR" property="wechatNum" />
    <result column="oppen_id" jdbcType="VARCHAR" property="oppenId" />
    <result column="wechat_phone_num" jdbcType="VARCHAR" property="wechatPhoneNum" />
    <result column="user_bind_phone_num" jdbcType="VARCHAR" property="userBindPhoneNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_head_image" jdbcType="VARCHAR" property="userHeadImage" />
    <result column="referrer_oppen_id" jdbcType="VARCHAR" property="referrerOppenId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="gift_receive_status" jdbcType="INTEGER" property="giftReceiveStatus" />
  </resultMap>

  <sql id="Base_Column_List">
    id, nick_name, wechat_num, oppen_id, wechat_phone_num, user_bind_phone_num, create_time, 
    update_time, user_head_image,referrer_oppen_id,company_id,company_name,gift_receive_status
  </sql>

  <update id="updateApiUserInfo" parameterType="map">
      UPDATE tb_api_user SET nick_name = #{nickName},user_head_image = #{userHeadImage} where oppen_id = #{oppenId}
  </update>

  <update id="updateApiUserPhone" parameterType="map">
    UPDATE tb_api_user SET user_bind_phone_num = #{phoneNum} where oppen_id = #{oppenId}
  </update>

  <update id="bindCompany" parameterType="com.ibay.tea.entity.TbApiUser">
    UPDATE tb_api_user SET company_id = #{companyId},company_name = #{companyName} where id = #{id}
  </update>

  <update id="updateGiftReceiveStatus" parameterType="string">
    UPDATE tb_api_user SET gift_receive_status = 1 where oppen_id = #{oppenId}
  </update>
  <update id="updateApiUserStore" parameterType="map">
    UPDATE tb_api_user SET store_id = #{storeId} where oppen_id = #{oppenId}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from tb_api_user where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findNoBindStoreUser" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from tb_api_user where store_id IS null or store_id = 0
  </select>

  <select id="findNoBindPhoneUser" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> FROM tb_api_user WHERE user_bind_phone_num IS NULL
  </select>

  <select id="findApiUserByOppenId" resultMap="BaseResultMap" parameterType="string">
      SELECT <include refid="Base_Column_List" />  FROM tb_api_user WHERE oppen_id = #{oppenId}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />  from tb_api_user
  </select>

  <select id="countUserByCondition" resultType="java.lang.Long" parameterType="map">
      select count(1) FROM tb_api_user
        <where>
          <if test=" userPhone != null">
            user_bind_phone_num = #{userPhone}
          </if>
          <if test="companyId != null">
            and company_id = #{companyId}
          </if>
        </where>
  </select>
  <select id="findUserListByPage" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_api_user
      <where>
          <if test="userPhone != null">
            user_bind_phone_num = #{userPhone}
          </if>
        <if test="companyId != null">
          and company_id = #{companyId}
        </if>
      </where>
    order by create_time desc
    LIMIT #{startIndex} , #{pageSize}
  </select>

  <select id="findUserPhoneByStoreId" resultType="java.lang.String" >
    SELECT user_bind_phone_num FROM tb_api_user WHERE store_id = #{storeId} and user_bind_phone_num IS NOT NULL
  </select>

  <select id="findAllUserPhone" resultType="java.lang.String">
    SELECT user_bind_phone_num FROM tb_api_user where user_bind_phone_num IS NOT NULL
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_api_user where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ibay.tea.entity.TbApiUser">
    insert into tb_api_user (nick_name, wechat_num,
      oppen_id, wechat_phone_num, user_bind_phone_num,
      create_time, update_time, user_head_image,referrer_oppen_id,gift_receive_status
      )
    values (#{nickName,jdbcType=VARCHAR}, #{wechatNum,jdbcType=VARCHAR},
      #{oppenId,jdbcType=VARCHAR}, #{wechatPhoneNum,jdbcType=VARCHAR}, #{userBindPhoneNum,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{userHeadImage,jdbcType=VARCHAR},#{referrerOppenId,jdbcType=VARCHAR},#{giftReceiveStatus}
      )
  </insert>

</mapper>