<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbItemCatMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbItemCat">
    <id column="id"  property="id" />
    <result column="parent_id" property="parentId" />
    <result column="name"  property="name" />
    <result column="status"  property="status" />
    <result column="sort_order"  property="sortOrder" />
    <result column="is_parent"  property="isParent" />
    <result column="icon"  property="icon" />
    <result column="remark"  property="remark" />
    <result column="created"  property="created" />
    <result column="updated"  property="updated" />
    <result column="store_id"  property="storeId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, parent_id, `name`, `status`, sort_order, is_parent, icon, remark, created, updated,store_id
  </sql>

  <insert id="addCategory" parameterType="com.ibay.tea.entity.TbItemCat">
    INSERT INTO tb_item_cat(parent_id, name, status, sort_order, is_parent, created,updated,store_id)
    VALUES (#{parentId},#{name},#{status},#{sortOrder},#{isParent},#{created},#{updated},#{storeId})
  </insert>
  <insert id="saveUpdateCategory">
    INSERT INTO tb_item_cat(id,parent_id, name, status, sort_order, is_parent, created,updated,store_id)
    VALUES (#{id},#{parentId},#{name},#{status},#{sortOrder},#{isParent},#{created},#{updated},#{storeId})
  </insert>


  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from tb_item_cat where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
      SELECT * from tb_item_cat WHERE `status` = 1 ORDER BY sort_order DESC
  </select>

  <select id="findByStoreId" resultMap="BaseResultMap" parameterType="string">
      select * from tb_item_cat where `status` = 1 and store_id = #{storeId} ORDER BY sort_order DESC
  </select>

  <select id="findCatIdByStoreId" resultType="java.lang.Long">
    select id from tb_item_cat where store_id = #{storeId}
  </select>

    <delete id="deleteCategoryById" parameterType="int">
    DELETE FROM tb_item_cat WHERE id = #{id}
  </delete>


</mapper>
