<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbUserCouponsMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbUserCoupons">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oppen_id" jdbcType="VARCHAR" property="oppenId" />
    <result column="coupons_id" jdbcType="INTEGER" property="couponsId" />
    <result column="coupons_name" jdbcType="VARCHAR" property="couponsName" />
    <result column="receive_date" jdbcType="INTEGER" property="receiveDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="coupons_poster" jdbcType="VARCHAR" property="couponsPoster" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="is_referrer" jdbcType="INTEGER" property="isReferrer" />
    <result column="coupons_ratio" jdbcType="VARCHAR" property="couponsRatio" />
    <result column="coupons_type" jdbcType="INTEGER" property="couponsType" />
    <result column="use_rules" jdbcType="VARCHAR" property="useRules" />
    <result column="use_scope" jdbcType="VARCHAR" property="useScope" />
    <result column="coupons_source" jdbcType="INTEGER" property="couponsSource" />
    <result column="coupons_code" jdbcType="VARCHAR" property="couponsCode" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="use_way" jdbcType="INTEGER" property="useWay" />
    <result column="expire_type" jdbcType="INTEGER" property="expireType" />
    <result column="cash_amount" jdbcType="VARCHAR" property="cashAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oppen_id, coupons_id, coupons_name, receive_date, create_time, `status`,coupons_poster,expire_date,
    is_referrer,coupons_ratio,coupons_type,use_rules,use_scope,coupons_source,coupons_code,source_name,activity_id,use_way,
    expire_type,cash_amount
  </sql>

  <update id="updateStatusById" parameterType="int">
      UPDATE tb_user_coupons SET `status` = #{status} where id=#{id}
  </update>

  <update id="updateRatio" parameterType="map">
    UPDATE tb_user_coupons SET coupons_ratio = #{ratioStr} where id = #{id}
  </update>

  <update id="updateUpgradeCouponsType" parameterType="map">
    UPDATE tb_user_coupons SET coupons_type = #{couponsType},coupons_ratio = 0 where id = #{id}
  </update>

  <update id="updateExperience" parameterType="map">
    UPDATE tb_user_coupons SET `status` =#{useStatus} where id = #{userCouponsId}
  </update>

  <update id="updateCashAmount" parameterType="map">
    UPDATE tb_user_coupons SET cash_amount =#{remainingAmount} where id = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_user_coupons where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findCouponsByCondition" resultMap="BaseResultMap">
    SELECT * FROM tb_user_coupons
    <where>
      <if test="oppenId != null">
        oppen_id = #{oppenId}
      </if>
      <if test="receiveDate != null">
        AND receive_date = #{receiveDate}
      </if>
      <if test="source != null">
        and coupons_source = #{couponsSource}
      </if>
      and is_referrer = 0
    </where>
    limit 0,1
  </select>

  <select id="findOneCouponsByOppenId" parameterType="map" resultMap="BaseResultMap">
      SELECT * from tb_user_coupons WHERE oppen_id = #{oppenId} AND receive_date = #{currentDate} AND `status` = 0
  </select>

  <select id="selectValidUserCoupons" resultMap="BaseResultMap" parameterType="com.ibay.tea.entity.TbUserCoupons">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where id = #{id,jdbcType=INTEGER} and oppen_id = #{oppenId} and `status` = 0
  </select>

  <select id="findUserValidCoupons" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId} and `status` = 0 and use_way = #{useWay}
      <![CDATA[ and DATE_FORMAT(now(), '%Y%m%d') <= DATE_FORMAT(expire_date, '%Y%m%d') ]]>
  </select>
  <select id="getUserCouponsByOppenId" resultMap="BaseResultMap" parameterType="string">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId} limit 0,10
  </select>

  <select id="findCurrentDayUserCoupons" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId}
      and receive_date = #{currentDate} and activity_id = #{activityId} limit 0,1
  </select>

  <select id="findCurrentDayExperienceCoupons" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId}
      and receive_date = #{currentDate} and activity_id = #{activityId}  limit 0,1
  </select>

  <select id="findReferrerCoupons" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId} and `status` = 0 and coupons_source = 1
    and is_referrer = 1 and <![CDATA[ coupons_type <> 4]]> order by coupons_ratio limit 0,1
  </select>
  <select id="findExperienceCoupons" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId} and receive_date = #{receiveDate} and coupons_type = 6 limit 0,1
  </select>

  <select id="findUserExperienceCoupons" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons
    <where>
      use_way = 1
      <if test="couponsCode != null">
        and coupons_code = #{couponsCode}
      </if>
    </where>
    order by create_time desc
    LIMIT #{startIndex} , #{pageSize}
  </select>

  <select id="countUserExperienceCoupons" resultType="java.lang.Long" parameterType="map">
    SELECT count(1) from tb_user_coupons
    <where>
      coupons_type = 6
      <if test="couponsCode != null">
        and coupons_code = #{couponsCode}
      </if>
    </where>
  </select>

  <select id="checkReceiveStatus" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons WHERE oppen_id = #{oppenId} and coupons_id = #{couponsId} and receive_date = #{currentDate} and `status` = 0
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_coupons  where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ibay.tea.entity.TbUserCoupons" keyProperty="id" useGeneratedKeys="true">
    insert into tb_user_coupons (oppen_id, coupons_id, coupons_name, receive_date, create_time, `status`,coupons_poster,expire_date,is_referrer,
                                 coupons_ratio,coupons_type,use_rules,use_scope,coupons_source,coupons_code,source_name,
                                 activity_id,use_way,expire_type,cash_amount)
    values (#{oppenId,jdbcType=VARCHAR}, #{couponsId,jdbcType=INTEGER},
      #{couponsName,jdbcType=VARCHAR}, #{receiveDate,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER},#{couponsPoster},#{expireDate},#{isReferrer},
      #{couponsRatio,jdbcType=VARCHAR}, #{couponsType,jdbcType=INTEGER},#{useRules},#{useScope},#{couponsSource},#{couponsCode},#{sourceName},
      #{activityId},#{useWay},#{expireType},#{cashAmount}
    )
  </insert>

  <insert id="insertBatch" parameterType="list">
      insert into tb_user_coupons (oppen_id, coupons_id, coupons_name, receive_date, create_time, `status`,coupons_poster,expire_date,is_referrer,
                                   coupons_ratio,coupons_type,use_rules,use_scope,coupons_source,coupons_code,source_name,activity_id,use_way,expire_type,cash_amount)
      values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.oppenId,jdbcType=VARCHAR}, #{item.couponsId,jdbcType=INTEGER},
       #{item.couponsName,jdbcType=VARCHAR}, #{item.receiveDate,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
       #{item.status,jdbcType=INTEGER},#{item.couponsPoster},#{item.expireDate},#{item.isReferrer},
       #{item.couponsRatio,jdbcType=VARCHAR}, #{item.couponsType,jdbcType=INTEGER},#{item.useRules},#{item.useScope},#{item.couponsSource},
       #{item.couponsCode},#{item.sourceName},#{item.activityId},#{item.useWay},#{item.expireType},#{item.cashAmount}
      )
    </foreach>
  </insert>
</mapper>